<div class="row">
  <div class="col-xs-6 col-xs-offset-1">
    <div class="clearfix">
      <div class="pull-left photo-container">
        <% if (user.get('profilePicShowUrl') ==
                "/profile_pics/show/missing.png") { %>
          <%= view.imageTag("http://www.placekitten.com/240/240",
                            { className: "img-circle profile-pic" }) %>
        <% } else { %>
          <%= view.imageTag(user.get("profilePicShowUrl"),
                            { className: "img-circle profile-pic" }) %>
        <% } %>
      </div>
     
      <h1><%= user.get('username') %></h1>
      
      <div class="col-xs-offset-6">
        <h5><%= user.get("photos").length %> posts</h5>
        <h5><a class="show-follow" id="num-followers">
          <%= user.get("followers").length %> followers
        </ba></h5>
        <h5><a class="show-follow" id="num-following">
          <%= user.get("following").length %> following
        </a></h5>
        <div id="follow">
          <% if (user.isFollowedBy(currentUser)) { %>
            <button class="unfollow btn btn-default btn-xs">unfollow</button>
          <% } else if (user.id != currentUser.id) { %>
            <button class="follow btn btn-default btn-xs">follow</button>
          <% } %>
        </div>
      </div>
    </div>
  
    <div id="profile-pic" class="photo-container">
    </div>

    <div id="wrapper">
    <div class="btn-group" id="show-bar">
      <button class="btn btn-link" id="grid">
        <span class="glyphicon glyphicon-th-large"></span>
      </button>
      <button class="btn btn-link" id="vertical">
        <span class="glyphicon glyphicon-align-justify"></span>
      </button>
      <% if (user.id == currentUser.id) { %>
        <button class="btn btn-link" id="sort">
          <span class="glyphicon glyphicon-move"></span>
        </button>
        <button class="btn btn-link" id="change-profile-pic">
          <a href="#profile"><span class="glyphicon glyphicon-picture"></span></a>
        </button>
      <% } %>
    </div>
  </div>
  </div>
</div>

<div id="photos">
</div>
