<p></p>
<div>
  <%= view.imageTag(userAttrs.profilePicUrl) %>
  <%= view.linkTo(userAttrs.username, "#users/" + userAttrs.id) %>
  <%= $.timeago(photo.get("createdAt")) %>
</div>
<div class="photo" data-id="<%= photo.id %>">
  <%= view.imageTag(photo.get("photoUrl")) %>
</div>
<div>
  <% var getUsername = function (obj) { return obj.username } %>
  liked by: <%= photo.get("likers").map(getUsername).join(", ") %>
</div>
<div>
  <% if (photo.isLikedBy(currentUser)) { %>
    <button class="unlike" data-id="<%= photo.id %>">unlike</button>
  <% } else { %>
    <button class="like" data-id="<%= photo.id %>">like</button>
  <% } %>
</div>
<div>
  <% if (photo.get("userId") == currentUser.id) { %>
    <button class="delete">delete</button>
  <% } %>
</div>
<p></p>