<h1>feed</h1>

<% @photos.try(:each) do |photo| %>
  <div>
    <div>
      <%= image_tag photo.user.profile_pic.url(:thumbnail) %>
      <%= link_to photo.user.username, user_url(photo.user) %>
      <%= time_ago_in_words(photo.created_at) %> ago
    </div>
    <%= image_tag photo.photo.url(:normal) %>
    <% if @user.likes?(photo) %>
      <% @like = @user.likes.select { |like| like.photo_id == photo.id } %>
      <%= button_to "unlike", like_url(@like), :method => :delete %>
    <% else %>
      <%= form_for @like, :url => photo_likes_url(photo) do |f| %>
        <%= f.submit "like" %>
      <% end %>
    <% end %>
    
    <% if photo.user == @user %>
      <%= button_to "delete", photo_url(photo), :method => :delete %>
    <% end %>
  </div>
  <p></p>
<% end %>