<div class="pull-left">
  <%= image_tag @user.profile_pic.url(:thumbnail) %>
</div>
<h1><%= @user.username %></h1>

<% if @user != current_user %>
    <% if current_user.is_following?(@user) %>
      <%= button_to "unfollow", follow_url(@follow), :method => :delete %>
    <% else %>
      <%= form_for @follow, :url => user_follows_url(@user) do |f| %>
        <%= f.submit "follow" %>
      <% end %>
    <% end %>
<% end %>

<% if @user == current_user %>

  <h3>add/change profile photo</h3>

  <%= form_for @user do |f| %>
    <%= f.file_field :profile_pic %>
    <%= f.submit "upload" %>
  <% end %>
  
<% end %>

<% @photos.try(:each) do |photo| %>
  <div>
    <div>
      <%= image_tag @user.profile_pic.url(:thumbnail) %>
      <%= link_to @user.username, user_url(@user) %>
      <%= time_ago_in_words(photo.created_at) %> ago
    </div>
    <%= image_tag photo.photo.url(:vertical) %>
    <div>
      liked by: <%= photo.likers.map(&:username).join(", ") %>
    </div>
    <% if photo.liked_by?(current_user) %>
      <% @like = photo.likes.select { |like| like.user_id == current_user.id } %>
      <%= button_to "unlike", like_url(@like), :method => :delete %>
    <% else %>
      <%= form_for Like.new, :url => photo_likes_url(photo) do |f| %>
        <%= f.submit "like" %>
      <% end %>
    <% end %>
  
    <% if photo.user == @user %>
      <%= button_to "delete", photo_url(photo), :method => :delete %>
    <% end %>
  </div>
  <p></p>
<% end %>