<div class="pull-left">
  <%= image_tag @user.profile_pic.url(:thumbnail) %>
</div>
<h1><%= @user.username %></h1>

<% if @user != current_user %>
    <% if current_user.is_following?(@user) %>
      <%= button_to "unfollow", follow_url(@follow), :method => :delete %>
    <% else %>
      <%= form_for @follow, :url => user_follows_url(@user) do |f| %>
        <%= f.submit "follow" %>
      <% end %>
    <% end %>
<% end %>

<% if @user == current_user %>

  <h3>add/change profile photo</h3>

  <%= form_for @user do |f| %>
    <%= f.file_field :profile_pic %>
    <%= f.submit "upload" %>
  <% end %>
  
<% end %>

<% @photos.try(:each) do |photo| %>
  <div>
    <%= image_tag photo.photo.url(:normal) %>
    <% if @user == current_user %>
      <%= button_to "delete", photo_url(photo), :method => :delete %>
    <% end %>
  </div>
<% end %>